In [1]:
import warnings
UserWarning("ignore")

import pandas as pd
import csv

In [2]:
weather = pd.read_csv("./weather.csv")

In [3]:
barrages = pd.read_csv("./barrage_data.csv")

In [4]:
merge = pd.merge(weather,barrages)
merge.reset_index(inplace=True,drop=True)
merge.tail(5)

,ville,temperature,precipitation,date,barrages,capacite_normal_mm3,reserve_mm3,taux_de_remplissage_percent,reserve_mm3_last_year,taux_de_remplissage_percent_last_year,region
201,Marrakech,27,0.0,2021-10-08,LALLA TAKERKOUST,"53,3","10,2","19,2","3,5","6,6",Marrakech-Safi
202,Marrakech,27,0.0,2021-10-09,LALLA TAKERKOUST,"53,3","10,1","19,0","3,4","6,4",Marrakech-Safi
203,Marrakech,27,0.0,2021-10-10,LALLA TAKERKOUST,"53,3","10,1","18,9","3,3","6,2",Marrakech-Safi
204,Marrakech,29,0.0,2021-10-11,LALLA TAKERKOUST,"53,3","10,0","18,7","3,3","6,1",Marrakech-Safi
205,Marrakech,25,0.0,2021-10-12,LALLA TAKERKOUST,"53,3","9,9","18,6","3,3","6,1",Marrakech-Safi

In [5]:
merge.to_csv("./all_data.csv",index=False)