In [2]:
import warnings
UserWarning("ignore")

import json
import pandas as pd
import datetime

from tabula import read_pdf
import tabula
from tabulate import tabulate
import os
import copy

In [3]:
start = datetime.datetime(2021,3,13)
end = datetime.datetime(2021,10,13)

In [5]:
d = start
all_data = []
while(d<end):
    try:
        path =f"./weather_data/weather_data/{d.strftime('%Y%m%d')}/"
        print(path)
        with open(path+"Marrakech_"+d.strftime('%Y%m%d')+".json")as f:
            data = json.load(f)["data"]
            ville="Marrakech"
            temp = data["weather"][0]["avgtempC"]
            prec = 0
            for value in data["weather"][0]["hourly"]:
                prec += float(value["precipMM"])
            print(temp,prec)

            record = {"ville":ville,"temperature":temp,"precipitation":prec,"date":d.strftime("%Y-%m-%d")}
            all_data.append(record)
        path =f"./weather_data/{d.strftime('%Y%m%d')}/"
        print(path)
        
        d = d+datetime.timedelta(days=1)
    except Exception as e:
        print("\n-> ERROR!!!!",e)
    print("-----------")

./weather_data/weather_data/20210313/
18 0.0
./weather_data/20210313/
-----------
./weather_data/weather_data/20210314/
21 0.0
./weather_data/20210314/
-----------
./weather_data/weather_data/20210315/
24 0.0
./weather_data/20210315/
-----------
./weather_data/weather_data/20210316/
23 0.0
./weather_data/20210316/
-----------
./weather_data/weather_data/20210317/
22 0.0
./weather_data/20210317/
-----------
./weather_data/weather_data/20210318/
18 0.0
./weather_data/20210318/
-----------
./weather_data/weather_data/20210319/
16 1.5000000000000002
./weather_data/20210319/
-----------

In [6]:
df = pd.DataFrame(all_data)
df

       ville temperature  precipitation        date
0  Marrakech          18            0.0  2021-03-13
1  Marrakech          21            0.0  2021-03-14
2  Marrakech          24            0.0  2021-03-15
3  Marrakech          23            0.0  2021-03-16
4  Marrakech          22            0.0  2021-03-17
5  Marrakech          18            0.0  2021-03-18
6  Marrakech          16            1.5  2021-03-19

In [29]:
df.to_csv("./weather.csv",index=False,encoding="UTF-8")